extends layout

block content
    .content
        .detail-card
            h1 #{order.name} 
            p  #{order.description}
            p Start Date:  #{order.startDateFormatted}
            p Contract Date: #{order.endDateFormatted}

            .control
                a(href=`/orders/${order._id}/update`).styled-link-button Update order
                a(href=`/orders/${order._id}/delete`).styled-link-button Delete order
