extends layout

block content
    .content
        if (inventory.length)
            .inventory-list
                each item in inventory 
                    a(href=item.url).inventory-line
                        p= item.product 
                        p= item.serialNumber
                        p= item.location
                        p= item.status
        else 
            h1 Nothing in stock.

        a.link-button(href="/inventory/create") Add product to inventory