extends layout

block content
    .content 
        .detail-card
            h1 #{product.name} 
            p  #{product.description}
            p  Price: #{product.price}
            .control
                a(href=`/products/${product._id}/update`).styled-link-button Update product 
                a(href=`/products/${product._id}/delete`).styled-link-button Delete product 